* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background: var(--color-bg);
}

a{
    font-family: var(--font-family);
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-weight:6000;
}

.gradient__bg{

    /* ff 3.6+ */
    background:-moz-linear-gradient(18deg, rgba(243, 67, 243, 1) 6%, rgba(0, 0, 255, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(18deg, rgba(243, 67, 243, 1) 6%, rgba(0, 0, 255, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(18deg, rgba(243, 67, 243, 1) 6%, rgba(0, 0, 255, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F343F3', endColorstr='#0000ff', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(18deg, rgba(243, 67, 243, 1) 6%, rgba(0, 0, 255, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(18deg, rgba(243, 67, 243, 1) 6%, rgba(0, 0, 255, 1) 100%);
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding{
    padding: 4rem 6rem;
}

.section__margin{
    padding: 4rem 6rem;
}
  
  @media screen and (max-width: 700px){
      .section__padding{
        padding: 4rem;
      } 
      .section__margin{
          margin: 4rem;
      }
  }

  @media screen and (max-width: 550px){
    .section__padding{
      padding: 4rem 2rem;
    } 
    .section__margin{
        margin: 4rem 2rem;
    }
}